body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #54565A;
    padding: 20px;
    display: flex;
    align-items: center; /* Alinha logo e nome verticalmente */
    justify-content: center;
}

header .logo {
    width: 50px; /* Tamanho fixo da largura da logo */
    height: 50px; /* Tamanho fixo da altura da logo */
    margin-right: 15px; /* Espaço entre logo e nome */
}

header .event-name {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

form input {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(33% - 20px);
}

form button {
    padding: 10px 20px;
    background-color: #5e8dc9;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #3e6c9f;
}
