/* Fonte Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilo global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #54565;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0;
}

/* Cabeçalho */
header {
    background-color: #ffffff;
    color: #54565;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    border-bottom: 2px solid #54565;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header h1 {
    flex: 1;
    text-align: center;
}

header .logo {
    width: 50px;
    height: auto;
}

/* Ajustando o conteúdo abaixo do cabeçalho */
body {
    padding-top: 70px; /* Espaço para o cabeçalho fixo */
}

/* Botão de login */
.login-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.login-button {
    background-color: #5e8dc9;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: #4074a1;
}

/* Formulário */
form {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    margin: 20px auto;
}

form input, form button {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #54565;
    font-size: 16px;
}

form button {
    background-color: #5e8dc9;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #4074a1;
}

/* Tabela */
table {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #54565;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

td {
    color: #54565;
}

button {
    display: block;
    margin: 20px auto;
    padding: 15px 20px;
    background-color: #5e8dc9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #4074a1;
}

/* Responsividade */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        font-size: 14px;
    }
}
